doctype html
html
	head
		title= `LiquicodeJS (v${locals.version})`

		meta( name="viewport" content="width=device-width, initial-scale=1" )

		//- Fonts
		link( rel='stylesheet' href='https://fonts.googleapis.com/css?family=Righteous|Roboto' )
		link( rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu' )
		link( rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat' )
		//- link( rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu' )
		link( rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' )

		//- link(rel='shortcut icon' href='//cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png')

		//- JQuery
		script( type='text/javascript' src='https://code.jquery.com/jquery-3.5.1.min.js' )

		//- AngularJS
		script( type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js' )
		//- script( type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js' )
		//- script( type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js' )
		script( type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js' )
		//- script( type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-touch.js' )

		//- CSS/Framework
		link( rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css' )
		//- link( rel='stylesheet' href='https://www.w3schools.com/lib/w3-theme-light-blue.css' )
		//- script( type='text/javascript' src='https://www.w3schools.com/lib/w3codecolor.js' )

		//- PrismJS
		//- link( rel='stylesheet' href='components/PrismJS-v1.28.0/prism-default.css' )
		//- script( type='text/javascript' src='components/PrismJS-v1.28.0/prism-default.js' )
		link( rel='stylesheet' href='components/PrismJS-v1.28.0/prism-coy.css' )
		script( type='text/javascript' src='components/PrismJS-v1.28.0/prism-coy.js' )
		//- link( rel='stylesheet' href='components/PrismJS-v1.28.0/prism-dark.css' )
		//- script( type='text/javascript' src='components/PrismJS-v1.28.0/prism-dark.js' )
		//- link( rel='stylesheet' href='components/PrismJS-v1.28.0/prism-okaidia.css' )
		//- script( type='text/javascript' src='components/PrismJS-v1.28.0/prism-okaidia.js' )

		//- Application Source
		script( type='text/javascript' src='site.js' )
		link( rel='stylesheet' href='site.css' )

body

	script
		!= `window.Locals = {};\n`
		!= `window.Locals.VersionNumber = ${JSON.stringify( locals.version )};\n`
		!= `window.Locals.Schemas = ${JSON.stringify( locals.Schemas )};\n`

	div( ng-app='Application_Module', ng-cloak )

		//- Build top navigation bar.
		nav.w3-bar.w3-border.w3-light-grey( role="navigation" )

			.w3-cell-row 

				//- Application Logo
				.w3-cell.w3-cell-middle
					img.w3-image.w3-responsive.w3-padding-small( src='components/Slimey/images/slimey-100.png' style='width:auto;height:48px' )

				//- Application Name
				.w3-cell.w3-cell-middle
					a.w3-button( href='index.html' )= `LiquicodeJS (v${locals.version})`
					//- .w3-text-grey= `LiquicodeJS (v${locals.version})`

				.w3-cell.w3-cell-middle
					a.w3-button( href='reference.html' ) Library Reference

				.w3-cell.w3-cell-middle
					a.w3-button( href='https://www.npmjs.com/package/@liquicode/liquicodejs' ) NPM

				.w3-cell.w3-cell-middle
					a.w3-button( href='https://github.com/liquicode/liquicodejs' ) Source

		block content

	include _footer.pug
